.pushable:not(body)>.ui.sidebar {
    position: fixed !important;
}

.ui.visible.slide.along.sidebar {
    top: 6%;
    -webkit-transform: none !important; 
    transform: none !important;
}

.ui.left.slide.along.sidebar {
    -webkit-transform: none !important;
    transform: none !important;
}

.pushable:not(body) {
    -webkit-transform: none !important;
    transform: none !important;
}

.ui[class*="vertically divided"].grid>.column:not(.row), .ui[class*="vertically divided"].grid>.row>.column {
    margin-top: 0 !important;
}

.ContainerLogin {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    }
    
    
    
    
    
    #UserLogin,#PassLogin{
        border-radius: 4px;
        border-color: transparent;
        box-shadow:10px darkgoldenrod ;
        margin-top: 3%;
        height: 7%;
        color: black;
        text-align: center;
        box-shadow: 0 0 0 1px rgba(50, 0, 150, 0.2);
        transition: all 200ms ease-out;
    
    }
    
    #UserLogin:hover,#PassLogin:hover {
        box-shadow: 0 0 6px blueviolet;
    }
    
    
    
    
    
    
    #BtnEntrar{
        text-align: center;
        display: flex;
       justify-content: center;
        margin-top: 5%;
        margin-left: 2%;
        padding: 5% 40%;
    }
    
    